<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css">
<%- include('../partials/nav') %>

<main id="item-info">
  <h1><%= item.name %> Details</h1>
  <section>
    <div>Owner: 
      <span><%= profile.name %> </span>
    </div>
    <div>Condition: 
      <span><%= item.condition %></span>
    </div>
    <div>Availability: 
      <span><%= item.available ? "Available" : "Unavailable" %></span>
    </div>
    <div>Requested: 
      <span><%= item.requested ? "Yes" : "No"%></span>
    </div>
    <% if (!item.available) { %>
      <div>Borrowed: 
        <span><%= item.borrowed.toLocaleDateString() %></span>
      </div>
      <div>Due:  
        <span><%= item.due.toLocaleDateString() %></span>
      </div>
    <% } %>
  </section>
  <h2>Requests</h2>
  <% if (!isSelf) { %>
    <h3>Enter Request Here:</h3>
    <form 
      action="/profiles/<%= profile._id %> /items/<%= item._id %>/requests"
      method="POST"
    >
      <label for="borrowDate">
        From:
        <input 
          type="datetime-local" 
          name="borrowDate"
          value="<%= item.due.toLocaleDateString()%>"
        >
      </label>
      <label for="returnDate">
        Till:
        <input 
          type="datetime-local" 
          name="returnDate"
          value="<%= item.due.toLocaleDateString()%>"
        >
      </label>
      <label for="description">
        Reason:<br>(Optional)
        <textarea name="description" ></textarea>
      </label>
      <button type="submit">Submit Request</button>
    </form>
  <% } %>
  <% if (item.requests.length) { %>
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>From</th>
          <th>To</th>
          <th>Reason</th>
        </tr>
      </thead>
      <tbody>
        <tr id="user-req">
          <% item.requests.forEach(request => { %>
            <td><%= request.borrower %> </td>
            <td>
              <%= request.borrowDate.toLocaleDateString()%>
              <%= request.borrowDate.getHours()===0 ? 12 : request.borrowDate.getHours()%12 %> 
              : 

              <% if (request.borrowDate.getMinutes()>10) { %>
                <%= request.borrowDate.getMinutes()%>
              <% } else { %>
                0<%= request.borrowDate.getMinutes()%>
              <% } %>

              <%= request.borrowDate.getHours() > 12 ? "PM" : "AM" %> 
            </td>
            <td>
              <%= request.returnDate.toLocaleDateString()%> 
              <%= request.borrowDate.getHours()===0 ? 12 : request.returnDate.getHours()%12 %> 
              : 

              <% if (request.returnDate.getMinutes()>10) { %>
                <%= request.returnDate.getMinutes()%>
              <% } else { %>
                0<%= request.returnDate.getMinutes()%>
              <% } %>

              <%= request.returnDate.getHours() > 12 ? "PM" : "AM" %> 
            </td>
            <td><%= request.description %> </td>
            <td>
              <div id="owner-response">
                <form 
                  action=""
                >
                  <button>Approve</button>
                </form>
                <form 
                  action=""
                >
                  <button>Decline</button>
                </form>
              </div>
            </td>
          <% }) %>
        </tr>
      </tbody>
    </table>
  <% } else { %>
    <h3>No Requests</h3>
  <% } %>
  

<%- include('../partials/footer') %> 