<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css">
<%- include('../partials/nav') %>

<main id="item-info">
  <h1><%= item.name %> Details</h1>
  <section>
    <div>Owner: 
      <span><%= profile.name %> </span>
    </div>
    <div>Condition: 
      <span><%= item.condition %></span>
    </div>
    <div>Availability: 
      <span><%= item.available ? "Available" : "Unavailable" %></span>
    </div>
    <div>Requested: 
      <span><%= item.requested ? "Yes" : "No"%></span>
    </div>
    <% if (!item.available) { %>
      <div>Borrowed: 
        <span><%= item.borrowed.toLocaleDateString() %></span>
      </div>
      <div>Due:  
        <span><%= item.due.toLocaleDateString() %></span>
      </div>
    <% } %>
  </section>
  <h2>Requests</h2>
  <% if (!isSelf) { %>
    <h3>Enter Request Here:</h3>
    <form id="create"
      action="/profiles/<%= profile._id %> /items/<%= item._id %>/requests"
      method="POST"
    >
      <label for="borrowDate">
        From:<br>(Required)
        <input 
          type="datetime-local" 
          name="borrowDate"
          value="<%= Date.now()%>"
        >
      </label>
      <label for="returnDate">
        Till:<br>(Required)
        <input 
          type="datetime-local" 
          name="returnDate"
          value="<%= Date.now()%>"
        >
      </label>
      <label for="description">
        Reason:<br>(Optional)
        <textarea name="description" ></textarea>
      </label>
      <button type="submit">Submit Request</button>
    </form>
  <% } %>
  <% if (item.requests.length) { %>
    <table>
      <thead>
        <tr>
          <th>Requested by</th>
          <th>From</th>
          <th>To</th>
          <th class="dt-only">Reason</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          <% item.requests.forEach(request => { %>
            <% if (!request.approved) { %>
              <tr>
                <td><%= request.borrower %> </td>
                <td>
                  <%= request.borrowDate.toLocaleDateString()%><br>
                  <%= request.borrowDate.getHours()%> 
                  : 

                  <% if (request.borrowDate.getMinutes()>10) { %>
                    <%= request.borrowDate.getMinutes()%>
                  <% } else { %>
                    0<%= request.borrowDate.getMinutes()%>
                  <% } %>
                </td>
                <td>
                  <%= request.returnDate.toLocaleDateString()%><br>
                  <%= request.returnDate.getHours()%> 
                  : 
                  <% if (request.returnDate.getMinutes()>10) { %>
                    <%= request.returnDate.getMinutes()%>
                  <% } else { %>
                    0<%= request.returnDate.getMinutes()%>
                  <% } %>
                </td>
                <td class="dt-only"><%= request.description %> </td>
                <% if (isSelf) { %>
                  <td>
                    <div id="owner-response">
                      <form 
                        action="/profiles/<%= profile._id %> /items/<%= item._id %>/requests/<%= request._id %>?_method=DELETE"
                        method="POST"
                      >
                        <button>Delete</button>
                      </form>
                    </div>
                  </td>
                <% } %>
              </tr>
            <% } %>
          <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h3>Item currently has no requests.</h3>
  <% } %>
  

<%- include('../partials/footer') %> 