<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= item.name %> Details</h1>
  <section>
    <div>Owner: 
      <span></span>
    </div>
    <div>Condition: 
      <span><%= item.condition %></span>
    </div>
    <div>Availability: 
      <span><%= item.available ? "Available" : "Unavailable" %></span>
    </div>
    <div>Requested: 
      <span><%= item.requested ? "Yes" : "No"%></span>
    </div>
    <div>Borrowed: 
      <span><%= item.borrowed.toLocaleDateString() %></span>
    </div>
    <div>Due:  
      <span><%= item.due.toLocaleDateString() %></span>
    </div>
  </section>
</main>

<%- include('../partials/footer') %> 